<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Employees</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/employees/create/" class="btn btn-success btn-sm">Create New</a>
    </div>
  </div>
  <br />
  <table class="table table-bordered table-sm">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Date of Birth</th>
      <th width="350px"></th>
    </tr>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.phoneNumber}}</td>
      <td>{{ employee.doB }}</td>
      <td>
        <a href="#" [routerLink]="['/employees/', employee.id, 'details']" class="btn btn-sm btn-info">View</a> 
        <a href="#" [routerLink]="['/employees/', employee.id, 'edit']" class="btn btn-sm btn-primary">Edit</a> 
        <button type="button" (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger">Delete</button> 
      </td>
    </tr>
  </table>
</div>